body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  overflow: hidden;
}

.marker-blue path{
  fill: #34ebd8;
}

.marker-red path {
  fill: red;
}
.popup {
  max-width: 300px;
}
